{% extends "app/layout.html" %}

{% block content %}
    <section id="venue" class="wow fadeInUp">

      <div class="container-fluid">

        <div class="section-header">
          <h2>CHI TIẾT PHÒNG KHÁCH SẠN</h2>
          <p>Chúc quý khách một ngày mới tốt lành</p>
        </div>
      </div>

      <div class="container-fluid venue-gallery-container">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/1.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/1.jpg" alt="" class="img-fluid" height="300" width="300">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/2.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/3.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/4.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/5.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/6.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/7.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/detail/8.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/detail/8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section>
    <section class="container">
        <section class="row">
            <div class="col-md-7">
                <h2 style="color:dodgerblue">TỔNG QUAN</h2>
                <p>Khách sạn Blue Diamond Luxury tọa lạc trung tâm Quận 1 với khung cảnh nhìn ra sông Sài Gòn. Khách sạn sẽ mang đến cho khách hàng trải nghiệm thú vị và tuyệt vời pha trộn giữa Việt Nam truyền thống và hiện đại thông qua các phòng khách sạn tiêu chuẩn, sang trọng nhưng giá cả phải chăng. Nơi đây sẽ là một lựa chọn tuyệt vời cho kỳ nghỉ gia đình hoặc một chuyến công tác dài. Vị trí gần trung tâm là nơi để đến thăm nhà thờ, nhà hát lớn, phố ẩm thực Nhật Bản, Hàn Quốc, trung tâm mua sắm, phố đi bộ....</p>
                <br /><br />
                <h2 style="color:dodgerblue">VỊ TRÍ & PHƯƠNG TIỆN ĐI LẠI</h2>
                <p>Cách chợ Bến Thành khoảng 1.4km, cách Nhà Hát thành phố khoảng 300m, cách Dinh Độc Lập khoảng 1.4km, cách sân bay quốc tế Tân Sơn Nhất khoảng 7km</p>
                <br /><br />
                <h2 style="color:dodgerblue">TIỆN NGHI - DỊCH VỤ KHÁCH SẠN</h2>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>hỗ trợ</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Cà phê</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Bữa Sáng</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Hội thảo truy cập</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>bữa tiệc</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Massage</li>
                </ul>
            </div>

            <div class="col-md-5">
                <h4 style="color:dodgerblue">KÍNH MỜI QUÝ KHÁCH ĐIỀN THÔNG TIN ĐỂ ĐẶT PHÒNG</h4>
                <table>
                    <tr>
                        <th>Ngày nhận phòng: </th>
                        <th>
                            <input type="date" class="form-control" required placeholder="Chọn ngày nhận"/>
                        </th>
                    </tr>
                    <tr>
                        <th>Ngày trả phòng: </th>
                        <th>
                            <input type="date" class="form-control" required placeholder="Chọn ngày trả"/>
                        </th>
                    </tr>
                    <tr>
                        <th>Họ Tên: <em style="color:red">*</em></th>
                        <th>
                            <input type="text" class="form-control" required placeholder="Nhập họ tên"/>
                        </th>
                    </tr>
                    <tr>
                        <th>Di động: <em style="color:red">*</em></th>
                        <th>
                            <input type="number" class="form-control" required placeholder="Nhập số di động"/>
                        </th>
                    </tr>
                    <tr>
                        <th>Email: <em style="color:red">*</em></th>
                        <th>
                            <input type="email" class="form-control" placeholder="Nhập Email"/>
                        </th>
                    </tr>
                    <tr>
                        <th>Số Lượng khách: <em style="color:red">*</em></th>
                        <th>
                            <input type="number" class="form-control" placeholder="Nhập số lượng"/>
                        </th>
                    </tr>
                    <tr>
                        <th>Ghi chú: <em style="color:red">*</em></th>
                        <th>
                            <textarea class="form-control" cols="500" rows="11" placeholder="Nhập nội dung"></textarea>
                        </th>
                    </tr>
                </table><br /><br />
                <div class="text-center">
                  <a type="submit" value="Đặt Ngay" class="btn btn-primary" href="{% url 'contact'%}">Đặt Ngay</a>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
