{% extends "app/layout.html" %}

{% block content %}


  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Thông Tin Khách Sạn</h2>
            <p>Các phòng nghỉ tại đây được trang bị máy điều hòa, truyền hình vệ tinh màn hình phẳng, ấm đun nước, vòi sen, máy sấy tóc và bàn làm việc.
              Tủ để quần áo và phòng tắm riêng cũng được bố trí trong phòng</p>
          </div>
          <div class="col-lg-3">
            <h3>Địa chỉ</h3>
            <p>Ngay vòng xoay Điện Biên Phủ, TPHCM</p>
          </div>
          <div class="col-lg-3">
            <h3>KHI NÀO</h3>
            <p>Thứ Hai đến chủ nhật<br>10-12 tháng 12</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Hệ Thống chúng tôi</h2>
          <p>Dưới đây là một số thành viên của chúng tôi</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="../../static/app/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Mr.Phong</a></h3>
                <p>Quản trị khách sạn</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="../../static/app/img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Mr.Thoại</a></h3>
                <p>Quản trị khách sạn</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="../../static/app/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Mrs.Tú</a></h3>
                <p>Giảng Viên</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>



    <!--==========================
      Phần địa điểm
    ============================-->
    <section id="venue" class="wow fadeInUp">

      <div class="container-fluid">

        <div class="section-header">
          <h2>NƠI DIỄN RA SỰ KIỆN</h2>
          <p>Thông tin địa điểm tổ chức sự kiện và phòng trưng bày</p>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8">
                <h3>Các phòng nghỉ tại đây được trang bị máy điều hòa</h3>
                <p> truyền hình vệ tinh màn hình phẳng, ấm đun nước, vòi sen, máy sấy tóc và bàn làm việc.
              Tủ để quần áo và phòng tắm riêng cũng được bố trí trong phòng</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/1.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/2.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/3.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/4.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/5.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/6.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/7.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="../../static/app/img/venue-gallery/8.jpg" class="venobox" data-gall="venue-gallery">
                <img src="../../static/app/img/venue-gallery/8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section>

    <!--==========================
      Phần khách sạn
    ============================-->
    <section id="hotels" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Khách Sạn</h2>
          <p>Một số khách sạn mẫu của chúng tôi</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="../../static/app/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="#">Khách sạn 1</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Đánh giá là: tuyệt vời</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="../../static/app/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
              </div>
              <h3><a href="#">Khách sạn 2</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-full"></i>
              </div>
              <p>Đánh giá là: tuyệt vời</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="../../static/app/img/hotels/3.jpg" alt="Hotel 3" class="img-fluid">
              </div>
              <h3><a href="#">Khách sạn 3</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Đánh giá là: tuyệt vời</p>
            </div>
          </div>

        </div>
      </div>

    </section>

    <!--==========================
      Phần trưng bày
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>BỘ SƯU TẬP</h2>
          <p>bộ sưu tập của chúng tôi từ các sự kiện gần đây</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <a href="../../static/app/img/gallery/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/1.jpg" alt=""></a>
        <a href="../../static/app/img/gallery/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/2.jpg" alt=""></a>
        <a href="../../static/app/img/gallery/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/3.jpg" alt=""></a>
        <a href="../../static/app/img/gallery/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/4.jpg" alt=""></a>
        <a href="../../static/app/img/gallery/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/5.jpg" alt=""></a>
        <a href="../../static/app/img/gallery/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/6.jpg" alt=""></a>
        <a href="../../static/app/img/gallery/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/7.jpg" alt=""></a>
        <a href="../../static/app/img/gallery/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="../../static/app/img/gallery/8.jpg" alt=""></a>
      </div>

    </section>


    <!--==========================
      đặt phòng
    ============================-->
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h2>Đặt Phòng</h2>
          <p>Đạt tiêu chuẩn khách sạn 3 sao</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Tiêu Chuẩn</h5>
                <h6 class="card-price text-center">$50</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>hỗ trợ</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Cà phê</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Bữa Sáng</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Hội thảo truy cập</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>bữa tiệc</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Massage</li>
                </ul>
                <hr>
                <div class="text-center">
                  <a type="button" class="btn" href="{% url 'about' %}">Đặt Ngay</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                <h6 class="card-price text-center">$80</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>hỗ trợ</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Cà phê</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Bữa Sáng</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Hội thảo truy cập</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>bữa tiệc</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Massage</li>
                </ul>
                <hr>
                <div class="text-center">
                  <a type="button" class="btn" href="{% url 'about' %}">Đặt Ngay</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Thương Gia</h5>
                <h6 class="card-price text-center">$100</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>hỗ trợ</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Cà phê</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Bữa Sáng</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Hội thảo truy cập</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>bữa tiệc</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Massage</li>
                </ul>
                <hr>
                <div class="text-center">
                  <a type="button" class="btn" href="{% url 'about' %}">Đặt Ngay</a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>


    </section>

    <!--==========================
      
     Phần liên hệ
    ============================-->
    <section id="contact">

      <div class="container">

        <div class="section-header">
          <h2>Liên hệ chúng tôi</h2>
          <p>Hãy gửi thông tin của bạn cho chúng tôi</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Địa chỉ</h3>
              <address>740 Sư Vạn Hạnh, Quận 10 TPHCM</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Đường dây nóng</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">theevenet@gamil.com</a></p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- #contact -->

      

      
  </main>

{% endblock %}
